PORT=3000
NODE_ENV="development"
DATABASE_URL="file:./database.db"
CSRF_SECRET="secret1"
JWT_SECRET_KEY="secret2"
JWT_SECRET_REFRESH="secret3"
DEVICE_DOMAIN="device.dtunnel.com.br"
APP_DOMAIN="app.dtunnel.com.br"
SERVER_IP="0.0.0.0"