build
node_modules
.env
.env.production
.env.development
.install_dir
prisma/*.db
prisma/*.db-journal
yarn.lock
nginx/fullchain.pem
nginx/privkey.pem
Dockerfile
apktool
apktool.txtfrontend/public/apk/*.apk
